*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  gap: 30px;
  margin: auto;
  padding: 0px 30px 0px 30px; /* вернуться */
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__list {
  height: 300px;
  overflow: hidden;
  margin-top: 26px;
}

.result {
  align-self: flex-end;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.content__accent {
  color: #545050;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.result__video-container,
.content__list {
  position: relative;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px 0px;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.search-form__fieldset {
  border: none;
}

input[type="checkbox"] + .search-form__pseudo-checkbox {
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  display: inline-block;
  cursor: pointer;
  appearance: none;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
  outline: 1px solid black;
  outline-offset: -2px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: rgba(0, 0, 0, 0);
  padding: 6px 73.5px;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.more-button {
  width: 100%;
}

.search-form__textfield {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-left: none;
  border-right: none;
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  width: 225px;
  color: white;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label:not(:last-of-type) {
  padding-right: 15px;
}
.content__list-item {
  margin-bottom: 30px;
}

.button:hover,
.content__video-card:hover,
.search-form__label:hover {
  text-decoration: underline;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.search-form__textfield {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: auto;
}
